@import "../../styles/partials/_mixins.scss";
@import "../../styles/partials/variables";

.warehouseDetails {
  margin: $mobile-margin;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 3px 5px 0 rgba(19,24,44,0.1);
  position: relative;
  top:-90px;

  &__info {
    padding: $mobile-margin;
    border-bottom: 1.5px solid $slate;
    
    &-headers {
      color: $slate;
      margin-bottom: 0;
      text-transform: uppercase;
    }

    &-contact {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding-top: 2rem;
    }

    &-address{
      
      &--new-line{
        display:none;
        @include tablet{
          display:flex;
        }
      }
    }
  }
}

.p-medium {
  margin: 0;
}

@include tablet {
  .warehouseDetails {
    margin: $tablet-margin;
    top:-150px;
    
    &__info {
      padding-left: $tablet-margin;
      padding-right: $tablet-margin;
      padding-top: $mobile-margin;
      padding-bottom: $mobile-margin;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      border-bottom: none;

      &-contact {
        padding-top: 0;
      }

      &-column {
        padding: 0 $tablet-margin;

        &--left {
          padding-left: $tablet-margin;
          border-left: 1px solid $slate;
        }
      }
    }
  }
}

@include desktop {
  .warehouseDetails {
    margin: $desktop-margin;
    top: -200px;
    &__info {
      &-column {
        &--left {
          padding-left: $desktop-margin;
        }

        &--right {
          margin-right: $tablet-margin;
        }
      }
    }
  }
}

// DYNAMIC CLASS
.display-hidden {
  display: none;
}