@use './fonts' as *;

// Colors
$instock-black: #13182C;
$slate: #5C667E;
$graphite: #232940;
$green: #158463;
$instock-indigo: #2E66E5;
$cloud: #BDC5D5;
$light-grey:#F7F8F9;
$red: #C94515;
$white: #FFFFFF;


// breakpoints and margins
$mobile-margin: 16px;
$mobile-column: auto;

$tablet-width: 767px;
$tablet-margin: 32px;
$tablet-gutter: 24px;
$tablet-column: auto;

$desktop-width: 1280px;
$desktop-margin: 124px;
$desktop-gutter: 24px;
$desktop-column: 63px;

// fonts
$font-regular: "TitilliumWeb";
$font-regular-italics: "TitilliumWeb";

$font-bold:"TitilliumWeb-SemiBoldItalics";
$font-bold-italics:"TitilliumWeb-SemiBoldItalics";
