@import '../../styles/partials/_mixins.scss';
@import '../../styles/partials/variables';

.DeleteWarehouseCard {
    display: flex;
    flex-direction: column;


    &__exit {
        align-self: flex-end;
        padding: 16px;
        background-color: white;
        border: none;
    }

    &__header {
        margin: 0;
    }

    &__body  {
        margin: 0;
    }

    &__buttons{
        align-self: flex-end;

        &--cancel {
            background-color: white;
            border-radius: 20px;
            border: 1px solid $cloud;

        }

        &--delete {
            background-color: $red;
            color: white;
            border-radius: 20px;
            border: 1px solid $cloud;
            margin-left: 16px;
        }

    }

    
}