@import '../../styles/partials/_mixins.scss';
@import '../../styles/partials/variables';

.search {
    margin: $mobile-margin;
    border-radius: 5px;

    &--title {
        text-align: start;
        font-family: $font-regular;
        margin: 0 0 16px 0;
    }

    &__content {
        margin: $mobile-margin;

        &__input {
            display: flex;
            flex-direction: column;

            &--box {
                height: 36px;
                border: 1px solid $slate;
                border-radius: 2rem;
            }

            &--box::placeholder {
                padding-left: 12px;
            }

            &--box:focus {
                outline-color: $instock-indigo;
            }

            &--icon {
                height: 24px;
                position: absolute;
                align-self: flex-end;
                margin: 8px 16px;
            }
        }

        &__button {
            color: $white;
            font-family: $font-regular;
            background-color: $instock-indigo;
            height: 36px;
            border: none;
            border-radius: 2rem;
            margin: 16px 0;
            width: 100%;
           
        }


    }
}