@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.inventoryList {
  margin: $mobile-margin;
  border-radius: 5px;
  box-shadow: 0px 3px 5px 0 rgba(19, 24, 44, 0.1);

  // TABLET && DESKTOP HEADERS***
  .inventoryList-headers {
    display: none;
  }

  @include tablet {
    .inventoryList-headers {
      display: grid;
      // grid-template-columns: repeat(6, 1fr);
      padding: 16px 24px;

      // display: flex;
      // justify-content: space-between;
      // width: 100%;
      box-sizing: border-box;

      &__header-container {
        display: flex;
        // width: 100%;
        box-sizing: border-box;

        &--header {
          font-weight: 600;
        }

        &--sort-icon {
          height: 16px;
        }
      }

      //  HEADER ACTIONS
      .header-actions {
        display: flex;
        justify-content: flex-start;
      }

      // HEADER WAREHOUSE
      .header-warehouse {
        padding-left: 24px;
      }

      // HEADER QUANTITY
      .header-quantity {
        padding-left: 50px;
      }

      // HEADER STATUS
      .header-status {
        padding-left: 30px;
      }

      .header-category {
        padding-left: 35px;
      }
    }
  }

  // INVENTORY-LIST CARD***
  .inventoryList-card {
    display: flex;
    flex-wrap: wrap;
    padding: 16px;
    box-sizing: border-box;

    // INVENTORY-ITEM && CATEGORY CONTAINER
    &__inventory-and-category-container {
      flex: 50%;

      // INVENTORY ITEM***
      .inventory-container {
        width: 100%;

        &__header {
          color: $slate;
        }

        @include tablet {
          &__header {
            display: none;
          }
        }

        &__link {
          text-decoration: none;
          color: $instock-indigo;
          display: flex;
          align-items: center;
          background-color: $white;
          border:none;
          &:hover{
            cursor: pointer;
          }

          &--inventory-item {
            font-weight: 600;
            padding-right: 2px;
          }

          &--icon {
            height: 20px;
            width: 20px;
            display: inline;
          }
        }
      }

      // CATEGORY***
      .category-container {
        padding-top: 16px;

        &__header {
          color: $slate;
        }

        @include tablet {
          &__header {
            display: none;
          }
        }

        &__category {
          color: $instock-black;
          font-weight: 600;
        }

        @include tablet {
          &__category {
            padding-left: 35px;
          }
        }
      }

      @include tablet {
        .category-container {
          padding-top: 0px;
          width: 100%;
        }
      }
    }

    @include tablet {
      &__inventory-and-category-container {
        flex: unset;
        grid-column: 1 / span 2;
        display: flex;
      }
    }

    // STATUS, QUANTITY & WAREHOUSE CONTAINER***
    &__status-quatity-warehouse-container {
      flex: 50%;

      .status-container {
        &__header {
          color: $slate;
        }

        // MEDIA - TABLET
        @include tablet {
          &__header {
            display: none;
          }
        }

        // DYNAMIC CLASSES - IF IN STOCK**
        &__in-stock {
          color: $green;
          background-color: rgba(21, 132, 99, 0.07);
          max-width: 65px;
          border-radius: 20px;
          padding: 4px;
          text-align: center;
        }

        @include tablet {
          &__in-stock {
            max-width: 61px;
          }
        }

        // DYNAMIC CLASSES - IF OUT OF STOCK**
        &__out-of-stock {
          color: $red;
          background-color: rgba(201, 69, 21, 0.07);
          max-width: 95px;
          border-radius: 20px;
          padding: 4px;
          text-align: center;
        }

        @include tablet {
          &__out-of-stock {
            max-width: 86px;
          }
        }

        @include tablet {
          &__status {
            margin-left: 20px;
          }
        }
      }

      .quantity-container {
        padding-top: 16px;

        &__header {
          color: $slate;
        }

        // MEDIA - TABLET
        @include tablet {
          &__header {
            display: none;
          }
        }

        &__quantity {
          color: $instock-black;
          font-weight: 400;
        }

        @include tablet {
          &__quantity {
            padding-left: 50px;
          }
        }
      }

      @include tablet {
        .quantity-container {
          padding-top: 0px;
        }
      }

      .int-warehouse-container {
        padding-top: 16px;
        width: 100%;

        &__header {
          color: $slate;
        }

        // MEDIA - TABLET
        @include tablet {
          &__header {
            display: none;
          }
        }

        &__warehouse-name {
          color: $instock-black;
          font-weight: 400;
        }
      }

      // MEDIA - TABLET
      @include tablet {
        .int-warehouse-container {
          padding-left: 24px;
          padding-top: 0px;
        }
      }
    }

    // MEDIA - TABLET
    @include tablet {
      // &__status-quatity-warehouse-container {
      //   grid-column: 3 / span 2;
      //   display: grid;
      //   grid-template-columns: repeat(2, 1fr);
      // }
    }

    // INVENTORY-LIST ICONS***
    .inventoryList-card__icon-container {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 100%;
      box-sizing: border-box;
      padding-top: 16px;
    }

    // Delete Button
    .inventoryList-card__delete-button {
      background-color:white;
      border:none;
      padding:0;
      margin:0;
      line-height: 0;
    }

    // .inventoryList-card__delete-button:hover {
    //   background-color:$light-grey;
    // }

    // MEDIA - TABLET
    @include tablet {
      .inventoryList-card__icon-container {
        display: flex;
        justify-content: flex-start;
        gap: 15px;
        padding-top: 0px;

        // ICONS
        .action-icon {
          height: 24px;
          width: 24px;
        }
      }
    }
  }

  .inventoryList-card:hover {
    //background-color: rgba(46, 102, 229, 0.07);
    background-color:$light-grey;
    .inventory-container__link{
      background-color:$light-grey;
    }
    .inventoryList-card__delete-button{
      background-color:$light-grey;
    }

  }

  // MEDIA - TABLET
  @include tablet {
    .inventoryList-card {
      padding: 16px 24px;
      display: grid;
      // grid-template-columns: repeat(6, 1fr);
    }
  }
}

// MEDIA - TABLET
@include tablet {
  .inventoryList {
    margin: 0px 32px;
  }

  .five-columns {

    &--header {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
    }

    &--table {
      grid-column: 3 / span 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    }
  }

  .six-columns {
    &--header {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
    }
  
    &--table {
      grid-column: 3 / span 3;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }

}

// MEDIA - DESKTOP
@include desktop {
  .inventoryList {
    width: 1040px;
    margin: auto;
  }
}