@import "../../styles/partials/_mixins.scss";
@import "../../styles/partials/_variables";

.editInv {
    margin: $mobile-margin;
    border-radius: 5px;
    box-shadow: 0px 3px 5px 0 rgba(19, 24, 44, 0.1);


    &__form {
        display: flex;


        &--invalidInput {}

        &__content {
            display: flex;
            width: 100%;


            &__details {
                display: flex;
                flex-direction: column;
                border-bottom: solid 1px $slate;
                width: 45%;
                padding: $mobile-margin;


                @include tablet {
                    border: none;
                    border-right: solid 1px $slate;
                }

                &--title {
                    margin-bottom: 0;
                }

                &__input {
                    height: 36px;
                    padding: 0 $mobile-margin;
                    border-radius: 20px;
                    border: 1px solid $cloud;

                    &--area {
                        padding: calc($mobile-margin/2) $mobile-margin;
                        border-radius: 20px;
                        border: 1px solid $cloud;
                        font-family: $font-regular;
                        resize: none;
                    }
                }
            }

            &__avail {
                width: 45%;
                padding: $mobile-margin;

                @include tablet {}

                &--title {}

                &__stock-status {
                    display: flex;

                    &--in-stock {
                        padding-right: 30%;
                    }

                    &--out-of-stock {}

                }
            }
        }
    }
}