@import "../../styles/partials/_mixins.scss";
@import "../../styles/partials/variables";

.addInventoryItem {
  margin: $mobile-margin;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 3px 5px 0 rgba(19,24,44,0.1);

  position: relative;
  top: -90px;

  @include tablet {
    margin: $tablet-margin;
    top: -150px;
  }

  @include desktop {
    margin: $desktop-margin;
    top: -200px;
  }

  &__form {
    &-itemDetails {
      border-bottom: 0.063rem solid $cloud;
    }

    &-itemDetails, &-itemAvailability {
      padding: $mobile-margin;
    }

    &-itemName, &-description, &-category, &-status, &-qty, &-warehouse {
      display: flex;
      flex-direction: column;
    }

    &-itemNameInp, &-descriptionInp, &-categoryOptions, &-qtyInput, &-warehouseOptions {
      //height: 26px;
      padding-left: $mobile-margin;
      padding-right: $mobile-margin;
      border-radius: 20px;
      border: 1px solid $cloud;
      font-family: $font-regular;
      &:active       
      {
        border-color: $instock-indigo;  
      }
    }

    &-statusOptions {
      display: flex;
      justify-content: space-between;
    }

    &-buttons {
      overflow: hidden;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: $light-grey;
      padding: $mobile-margin;
    }

    &-cancelBtn, &-addBtn {
      height: 36px;
      padding-left: $mobile-margin;
      padding-right: $mobile-margin;
      border-radius: 20px;
      border-color: $slate;
      width: 47%;
      &:hover 
      {
        cursor: pointer;
      }
    }

    &-cancelBtn {
      background-color: $white;
    }

    &-addBtn {
      background-color: $instock-indigo;
      color: $white;
    }

    &-invalidInput {
      border: 1px solid $red;
    }

    &-errorMsg {
      display: none;
      font-size: 13px;
    }

    &-errorMsgInvalidInput {
      display: inline-block;
      color: $red;
    }
  }
}

.p-medium {
  padding-top: $mobile-margin;
  font-weight: bold;
  padding-bottom: 4px;
}

.false {
  display: none;
}

.true{
  display: flex;
}

@include tablet {
  .addInventoryItem {
    margin: $tablet-margin;
    &__header{
      &-info {
        justify-content: start;
        padding-left: $tablet-margin;
      }

      &-title {
        padding-left: $tablet-margin;
      }
    }

    &__form {
      padding-top: $tablet-margin;
      &-mainInfo {
        display: flex;
        justify-content: space-between;
        padding-bottom: $tablet-margin;
      }

      &-itemDetails {
        width: 50%;
        border-bottom: none;
        border-right: 1px solid $cloud;
        padding-left: $tablet-margin;
        padding-right: $tablet-margin;
        padding-bottom: $tablet-margin;
      }

      &-itemAvailability {
        width: 50%;
        padding-left: $tablet-margin;
        padding-right: $tablet-margin;
        padding-bottom: $tablet-margin;
      }

      &-itemNameInp, &-categoryOptions, &-qtyInput, &-warehouseOptions {
        height: 38px;
        width: auto;
        font-family: $font-regular;
      }
      &-descriptionInp{
        width: auto;
        font-family: $font-regular;
        padding-top:9px;
      }

      &-buttons {
        justify-content: flex-end;
      }

      &-cancelBtn, &-addBtn {
        height: 36px;
        padding-left: $mobile-margin;
        padding-right: $mobile-margin;
        border-radius: 20px;
        border: 1px solid $cloud;
        width: auto;
        @include tablet{
          height: 38px;
        }
      }

      &-addBtn {
        margin-left: $tablet-margin;
      }
    }
  }
}

@include desktop {
  .addInventoryItem {
    margin: $desktop-margin;
  }
}