@import "../../styles/partials/_mixins.scss";
@import "../../styles/partials/variables";

.addInventoryItem {
  margin: $mobile-margin;
  border-radius: 0.313;
  box-shadow: 0px 3px 5px 0 rgba(19,24,44,0.1);

  &__header {
    &-info {
      display: flex;
      align-items: center;
      justify-content: center;
      border-bottom: 0.063rem solid $slate;
      padding: $mobile-margin;
    }

    &-title {
      padding-left: $mobile-margin;
    }
  }

  &__form {
    &-itemDetails {
      border-bottom: 0.063rem solid $slate;
    }

    &-itemDetails, &-itemAvailability {
      padding: $mobile-margin;
    }

    &-itemName, &-description, &-category, &-status, &-qty, &-warehouse {
      display: flex;
      flex-direction: column;
    }

    &-itemNameInp, &-descriptionInp, &-categoryOptions, &-qtyInput, &-warehouseOptions {
      height: 2.25rem;
      padding-left: $mobile-margin;
      padding-right: $mobile-margin;
      border-radius: 1.25rem;

      border-color: $slate;

      &:active {
        border-color: $instock-indigo;  
      }
    }

    &-statusOptions {
      display: flex;
      justify-content: space-between;
    }

    &-buttons {
      overflow: hidden;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: $light-grey;
      padding: $mobile-margin;
    }

    &-cancelBtn, &-addBtn {
      height: 2.25rem;
      padding-left: $mobile-margin;
      padding-right: $mobile-margin;
      border-radius: 1.25rem;
      border-color: $slate;
      width: 47%;
      &:hover {
        cursor: pointer;
      }
    }

    &-cancelBtn {
      background-color: $white;
    }

    &-addBtn {
      background-color: $instock-indigo;
      color: $white;
    }

    &-invalidInput {
      border: 0.063rem solid $red;
    }

    &-errorMsg {
      display: none;
      font-size: 13px;
    }

    &-errorMsgInvalidInput {
      display: inline-block;
      color: $red;
    }
  }
}

.p-medium {
  padding-top: $mobile-margin;
  font-weight: bold;
  padding-bottom: 0.25rem;
}

.false {
  display: none;
}

.true{
  display: flex;
}

@include tablet {
  .addInventoryItem {
    margin: $tablet-margin;
    &__header{
      &-info {
        justify-content: start;
        padding-left: $tablet-margin;
      }

      &-title {
        padding-left: $tablet-margin;
      }
    }

    &__form {
      padding-top: $tablet-margin;
      &-mainInfo {
        display: flex;
        justify-content: space-between;
        padding-bottom: $tablet-margin;
      }

      &-itemDetails {
        width: 50%;
        border-bottom: none;
        border-right: 0.063rem solid $slate;
        padding-left: $tablet-margin;
        padding-right: $tablet-margin;
        padding-bottom: $tablet-margin;
      }

      &-itemAvailability {
        width: 50%;
        padding-left: $tablet-margin;
        padding-right: $tablet-margin;
        padding-bottom: $tablet-margin;
      }

      &-itemNameInp, &-descriptionInp, &-categoryOptions, &-qtyInput, &-warehouseOptions {
        height: 1.75rem;
        width: auto;
      }

      &-buttons {
        justify-content: flex-end;
      }

      &-cancelBtn, &-addBtn {
        height: 1.75rem;
        padding-left: $mobile-margin;
        padding-right: $mobile-margin;
        border-radius: 20px;
        border-color: $slate;
        width: auto;
      }

      &-addBtn {
        margin-left: $tablet-margin;
      }
    }
  }
}

@include desktop {
  .addInventoryItem {
    margin: $desktop-margin;
  }
}