@import '../../styles/partials/_mixins.scss';
@import '../../styles/partials/variables';

.warehouseList {
    margin: $mobile-margin;
    border: 1px solid $slate;
    border-radius: 5px;

    // &__header {
    //     margin: $mobile-margin;

    //     &--container {
    //         margin: 24px;
    //     }

    //     &--title {
    //         text-align: start;
    //         font-family: $font-regular;
    //         font-size: 28px;
    //         margin: 0 0 16px 0;
    //     }


    //     &--subcontainer {
    //         display: flex;
    //         flex-direction: column;
    //     }

    //     &--searchBar {
    //         height: 36px;
    //         border: 1px solid $slate;
    //         border-radius: 2rem;
    //     }

    //     &--searchBar::placeholder {
    //         padding-left: 12px;
    //     }

    //     &--searchBar:focus {
    //         outline-color: $instock-indigo;
    //     }

    //     &--AddWarehouse-Button {
    //         color: $white;
    //         font-family: $font-regular;
    //         background-color: $instock-indigo;
    //         height: 36px;
    //         border: none;
    //         border-radius: 2rem;
    //         margin: 16px 0;

    //     }


    // }

    &__body {

        &--container {
            border-top: 1px solid $slate;
            display: flex;
            justify-content: flex-start;
            padding: 8px 24px 24px 24px;

        }

        &--subcontainer {
            width: 50%;
            padding-right: 16px;
        
        }

        &--info {
            text-align: start;
            padding-top: 16px;
        }

        &--icon-container {
            display: flex;
            justify-content: space-between;
            padding: 0 24px 24px 24px;
        }

       

       
    }
}

.p-medium {
    margin: 0;
  
}

h4 {
    margin: 0;
    padding-bottom: 8px;
}