@import "../../styles/partials/_mixins.scss";
@import "../../styles/partials/variables";

.addWarehouse {
  &__headers {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $slate;
    padding: $mobile-margin;
  }

  &__form {
    &-warehouseDetails, &-contactDetails {
      padding: $mobile-margin;
    }

    &-warehouseName, &-streetAddress, &-city, &-country {
      display: flex;
      flex-direction: column;
    }

    &-warehouse_nameInp, &-warehouse_streetaddressInp, &-warehouse_cityInp, &-warehouse_countryInp {
      height: 36px;
      padding-left: $mobile-margin;
      padding-right: $mobile-margin;
      border-radius: 20px;
      border-color: $slate;
    }
  }
}

.p-medium {
  padding-top: $mobile-margin;
  font-weight: bold;
  padding-bottom: 4px;
}