@import "../../styles/partials/_mixins.scss";
@import "../../styles/partials/variables";

.addWarehouse {
  &__header {
    &-info {
      display: flex;
      align-items: center;
      justify-content: center;
      border-bottom: 1px solid $slate;
    }

    &-title {
      padding-left: $mobile-margin;
    }
  }
  &__form {
    &-warehouseDetails {
      border-bottom: 1px solid $slate;
    }
    &-warehouseDetails, &-contactDetails {
      padding: $mobile-margin;
    }

    &-warehouseName, &-streetAddress, &-city, &-country, &-contactName, &-position, &-phoneNum, &-email {
      display: flex;
      flex-direction: column;
    }

    &-warehouse_nameInp, &-warehouse_streetaddressInp, &-warehouse_cityInp, &-warehouse_countryInp, &-warehouse_contactNameInp, &-warehouse_positionInp, &-warehouse_phonenumInp, &-warehouse_emailInp {
      height: 36px;
      padding-left: $mobile-margin;
      padding-right: $mobile-margin;
      border-radius: 20px;
      border: 1px solid $cloud;
      
      &:active {
        border-color: $instock-indigo;  
      }
    }

    &-buttons {
      height: 68.32px;
      overflow: hidden;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: $light-grey;
      padding: $mobile-margin;
    }

    &-cancelBtn, &-addBtn {
      height: 36px;
      padding-left: $mobile-margin;
      padding-right: $mobile-margin;
      border-radius: 20px;
      border-color: $slate;
      width: 47%;
      &:hover {
        cursor: pointer;
      }
    }

    &-cancelBtn {
      background-color: $white;
    }

    &-addBtn {
      background-color: $instock-indigo;
      color: $white;
    }

    &-invalidInput {
      border: 1px solid $red;
      outline-width: 0;
    }

    &-errorMsg {
      display: none;
      font-size: 13px;
    }

    &-errorMsgInvalidInput {
      display: inline-block;
      color: $red;
    }
  }
}

.p-medium {
  padding-top: $mobile-margin;
  font-weight: bold;
  padding-bottom: 4px;
}

@include tablet {
  .addWarehouse {
    &__header{
      &-info {
        justify-content: start;
        padding-left: $tablet-margin;
      }

      &-title {
        padding-left: $tablet-margin;
      }
    }

    &__form {
      padding-top: $tablet-margin;
      &-mainInfo {
        display: flex;
        justify-content: space-between;
        padding-bottom: $tablet-margin;
      }

      &-warehouseDetails {
        width: 50%;
        border-bottom: none;
        border-right: 1px solid $slate;
        padding-left: $tablet-margin;
        padding-right: $tablet-margin;
        padding-bottom: $tablet-margin;
      }

      &-contactDetails {
        width: 50%;
        padding-left: $tablet-margin;
        padding-right: $tablet-margin;
        padding-bottom: $tablet-margin;
      }

      &-warehouse_nameInp, &-warehouse_streetaddressInp, &-warehouse_cityInp, &-warehouse_countryInp, &-warehouse_contactNameInp, &-warehouse_positionInp, &-warehouse_phonenumInp, &-warehouse_emailInp {
        height: 38px;
        width: auto;
      }

      &-buttons {
        justify-content: flex-end;
      }

      &-cancelBtn, &-addBtn {
        height: 38px;
        padding-left: $mobile-margin;
        padding-right: $mobile-margin;
        border-radius: 20px;
        border-color: $slate;
        width: auto;
      }

      &-addBtn {
        margin-left: $tablet-margin;
      }
    }
  }
}
