@import "../../styles/partials/_mixins.scss";
@import "../../styles/partials/_variables";

.inventoryDetails {
  margin: $mobile-margin;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 3px 5px 0 rgba(19,24,44,0.1);

  position: relative;
  top: -65px;
}

.details {
    display: flex;
    flex-direction: column;
    margin: $tablet-margin;

    &__headers{
        &--category{
            padding-top: $mobile-margin;
        }

        &--status{
            padding-top: $mobile-margin;
        }
        &--warehouse{
            padding-top: $mobile-margin;
        }
    }

    &--text{
        margin-top: 0;
    }

    &--right-wrapper {
        display:flex;
        flex-direction: row;
    }

    &__status-warehouse {
        display: flex;
        flex-direction: column;
        padding-right:$tablet-margin;

    }

    &__quantity{
        padding-left: $desktop-column;
    }

}

.status-container {
    &__header {
      color: $slate;
    }

    // DYNAMIC CLASSES - IF IN STOCK**
    &__in-stock {
      color: $green;
      background-color: rgba(21, 132, 99, 0.07);
      max-width: 65px;
      border-radius: 20px;
      padding: 4px;
      text-align: center;
    }

    // DYNAMIC CLASSES - IF OUT OF STOCK**
    &__out-of-stock {
      color: $red;
      background-color: rgba(201, 69, 21, 0.07);
      max-width: 95px;
      border-radius: 20px;
      padding: 4px;
      text-align: center;
    }
  }

@include tablet {
  .inventoryDetails {
    margin: $tablet-margin;
    top: -150px;
  }

  .details {
    flex-direction: row;

    &--left-wrapper {
      padding-right: $tablet-margin;
      width: 45%;
    }

    &--right-wrapper {
      border-left: 1px solid $cloud;
      padding-left: $tablet-margin;
    }
  }

  .status-container {
    &__header {
      display: none;
    }

    &__in-stock {
      max-width: 61px;
    }

    &__out-of-stock {
      max-width: 86px;
    }
  }
}

@include desktop {
  .inventoryDetails {
    margin: $desktop-margin;
    top: -200px;
  }
}